* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Serif', serif;
    font-size: 0.8em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fefefe;
}

:root {
    --left-col-1: 5vw;
    --left-col-2: 10vw;
    --left-col-3: 16vw;
    --left-col-4: 19vw;

    --left-row-1: 20vh;
    --left-row-2: 15vh;
    --left-row-3: 25vh;
    --left-row-4: 40vh;
}

.page-layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50vw 50vw;
}

.grid-container {
    display: grid;
    width: 50vw;
    height: 100vh;
    line-height: 1.5em;
}

.grid-item {
    border: 1px solid #ffffff;
    padding: 15px;
    overflow: auto;
}

.grid-left {
    grid-template-columns: var(--left-col-1) var(--left-col-2) var(--left-col-3) var(--left-col-4);
    grid-template-rows: var(--left-row-1) var(--left-row-2) var(--left-row-3) var(--left-row-4);
}

.grid-right {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.menu-one {
    cursor: pointer;

    color: rgb(66, 66, 66);
}
.menu-two {
    cursor: pointer;
    color: rgb(66, 66, 66);
}
.menu-three {
    cursor: pointer;
    color: rgb(66, 66, 66);
}
.menu-three a[data-hover-iframe] {
    cursor: none;
}
.menu-four {
    cursor: pointer;
    color: rgb(66, 66, 66);
}
.text {
    color: rgb(42, 42, 42);
}
.hover-text {
    display: none;
}
.text:hover .hover-text {
    display: inline;
}
.text-image {
    height: 100%;
}
.text-image img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}
#preview-image {
    border: 1px solid #101010;
}
#preview-iframe {
    display: none;
    width: 90%;
    height: 100%;
    border: 1px solid #222222;
    overflow: auto;
}
#preview-iframe.active {
    display: block;
}
#preview-text {
    display: none;
    width: 90%;
    height: 100%;
    overflow: auto;
    padding: 15px;
    border: 1px solid #101010;
    font-size: 0.9em;
    line-height: 1.6em;
}
#preview-text.active {
    display: block;
}
.cv-link {
    cursor: pointer;
}

a {
    color: #3e3e3e;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    body {
        overflow: auto;
        height: auto;
    }
    .page-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    .grid-container {
        width: 100%;
        height: auto;
    }
    .grid-left, .grid-right {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .grid-left {
        display: flex;
        flex-direction: column;
    }
    .grid-left .grid-item {
        padding: 5px 15px;
    }
    .grid-left .grid-item:first-child {
        order: 1;
    }
    .grid-right {
        order: -1;
        left: 0%;
    }
    .grid-item {
        width: 100%;
    }
    .info-image {
        max-width: 100%;
    }
}
