* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: merriweather, monospace;
    font-size: 0.8em;
    font-weight: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fefefe;
}

:root {
    --left-col-1: 20vw;
    --left-col-2: 20vw;
    --left-col-3: 10vw;

    --left-row-1: 20vh;
    --left-row-2: 40vh;
    --left-row-3: 30vh;
}

.page-layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50vw 1fr;
}

.grid-container {
    display: grid;
    width: 50vw;
    height: 100vh;
    line-height: 1.5em;
}

.grid-item {
    border: 1px solid #7b313100;
    padding: 15px;
    overflow: auto;
}

.grid-left {
    grid-template-columns: var(--left-col-1) var(--left-col-2) var(--left-col-3);
    grid-template-rows: var(--left-row-1) var(--left-row-2) var(--left-row-3);
}

.grid-right {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    width: 50vw;
}

.grid-right .grid-item:first-child {
    overflow: visible;
}

.text {
    color: rgb(93, 93, 93);
    width: 85%;
    position: relative;
    z-index: 2;
}
.hover-text {
    display: none;
    position: absolute;
    top: 1.6em;
    left: 0;
    max-width: 105%;
    z-index: 3;
    background: #fefefe;
    padding: 0 0.14em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.text:hover .hover-text {
    display: inline;
}
.text-image {
    height: 100%;
}
.text-image img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}
#preview-image {
    border: 0px solid #10101000;
}
#preview-iframe {
    display: none;
    width: 90%;
    height: 100%;
    border: 1px solid #222222;
    overflow: auto;
}
#preview-iframe.active {
    display: block;
}
#preview-text {
    display: none;
    width: 90%;
    height: 100%;
    overflow: auto;
    padding: 15px;
    border: 1px solid #101010;
    font-size: 0.9em;
    line-height: 1.6em;
}
#preview-text.active {
    display: block;
}
.cv-link {
    cursor: pointer;
}

a {
    color: #3e3e3e;
    text-decoration: none;
}



.menu-one {
    line-height: 1.5em;
}
.menu-one a[data-project].active,
.menu-two a[data-project].active {
    color: #f04e02;
}
#index-project-view {
    display: none;
    grid-column: 2;
    grid-row: 1;
    overflow: auto;
    margin-top: 3em;
    padding: 0px;
    height: calc(100vh - 3em);
    width: 90%;
    height: 90%;
}
#index-project-view .project-info {
    line-height: 1.4;
    margin-bottom: 10px;
    font-family: merriweather, monospace;
    color: rgb(93, 93, 93);
}
#index-project-view .info-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin-top: 10px;
}
#index-project-view .project-gallery {
    display: grid;
    gap: 0px;
}
#index-project-view .project-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
