* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page-layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50vw 50vw;
}

.grid-container {
    display: grid;
    width: 50vw;
    height: 100vh;
    line-height: 1.5em;
}

.grid-item {
    border: 1px solid #ffffff;
    padding: 15px;
    overflow: auto;
}

.grid-left {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.grid-right {
    grid-template-columns: 1fr;
}

.project-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu-button {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #1f1f1f;
    padding: 5px 5px;
    font: inherit;
    cursor: pointer;
    font-size: 0.8em;
}

.menu-button.active {
    background-color: #ffffff00;
    color: #f04e02;
}

.project-info {
    line-height: 1.4;
}

.info-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin-top: 10px;
}

.image-frame {
    padding: 10px;
}

.project-gallery {
    display: grid;
    gap: 10px;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.back-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    display: block;
}

.back-button img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Minimal scrollbar */
::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}
@media screen and (max-width: 1000px) {
    body {
        overflow: auto;
        height: auto;
    }
    .page-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    .grid-container {
        width: 100%;
        height: auto;
    }
    .grid-left, .grid-right {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .grid-left {
        display: flex;
        flex-direction: column;
    }
    .grid-left .grid-item:first-child {
        order: 1;
    }
    .grid-right {
        order: -1;
    }
    .grid-item {
        width: 100%;
    }
    .info-image {
        max-width: 100%;
    }
    .back-button {
        position: static;
        display: block;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .back-button img {
        content: url("back.icon.media.png");
        display: block;
        width: 60vw;
        height: auto;
        object-fit: contain;
    }
}
